/UserRequestFactoryDeobfuscatorBuilder.java
/AssignmentRequestFactoryDeobfuscatorBuilder.java
/CoursRequestFactoryDeobfuscatorBuilder.java
/EcoleRequestFactoryDeobfuscatorBuilder.java
/LogRequestFactoryDeobfuscatorBuilder.java
/LogTypeRequestFactoryDeobfuscatorBuilder.java
/ProfessorRequestFactoryDeobfuscatorBuilder.java
/SettingOptionRequestFactoryDeobfuscatorBuilder.java
