/* Add css rules here for your application. */

body {
  padding: 10px;
}

/* stock list header row */
.pageTitle {
	padding: 3px;
  	background-color: #D2C40B;
  	color: white;
  	font-style: gros;
  	font-size: 18px;
}

.sideBar {
	background-color: #F2F2F2;
	border-style:solid;
	border-width:1px;
	border-color:  #D2C40B;
}

.btnFocus {
	background-color: #D2C40B;
}

.paneMain {
	border-style:solid;
	border-width:1px;
	border-color: #D2C40B;
}

.FlexTable {
  border-top: thin solid #444444;
  border-left: thin solid #444444;
  border-right: thin solid #111111;
  border-bottom: thin solid #111111;
  background-color:  #ffffff;
}

.FlexTable-Cell {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: blue;
  padding: 2px;
  spacing: 0px;
  height: 18px;
}
